body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.2;
  color: #616e7c;
  letter-spacing: 0.02em;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
input[type="range"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  border: 0;
}

.section-title {
  position: relative;
  margin: 0;
  padding-top: 80px;
  padding-bottom: 60px;
  font-size: 30px;
  font-weight: 700;
  color: #2c3e50;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
}

.section-title::after {
  content: "";
  position: absolute;
  top: 71%;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 5px;
  background: #1abc9c;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  min-width: 110px;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  background-color: transparent;
  border-radius: 5px;
}

.header {
  display: flex;
  align-items: center;
  height: 100vh;
  background: url("../img/bg.png") center center;
  background-size: cover;
  background-color: #ffffff;
}

.header__content {
  margin: 0 auto;
  text-align: center;
}

.header__logo {
  margin-bottom: 40px;
}

.header__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 55px;
  font-weight: 600;
  color: #2c3e50;
}

.header__about {
  margin: 0;
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.2;
  color: #76818d;
}

.btn-default {
  color: #76818d;
  border: 1px solid #2c3e50;
}

.btn-default:hover {
  color: #eeeeee;
  background-color: #2c3e50;
}

.nav {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #2c3e50;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.nav-header__logo {
  cursor: pointer;
}

.nav-content {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-content-item {
  margin-right: 40px;
  list-style: none;
}

.nav-content-item:last-child {
  margin-right: 0;
}

.nav-content-item a {
  font-size: 16px;
  font-weight: 400;
  color: #f4f5f6;
  text-transform: uppercase;
}

.nav-content-item a:hover {
  color: #1abc9c;
}

.about__photo {
  border: 20px solid #1abc9c;
  transition: all 0.5s ease;
  box-shadow: 0 14px 28px rgba(44, 62, 80, 0.25), 0 10px 10px rgba(44, 62, 80, 0.22);
}

.about__photo:hover {
  transform: rotate(-10deg);
}

.about-item {
  position: relative;
  margin-bottom: 30px;
  padding-left: 50px;
  font-size: 22px;
  color: #2c3e50;
}

.about-item:before {
  content: "\f058";
  position: absolute;
  left: 0;
  top: 0;
  font-family: FontAwesome;
  font-size: 1.125em;
  color: #1abc9c;
}

.about-item span {
  font-weight: 600;
}

.about__description-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__description {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: justify;
}

.education {
  padding-bottom: 80px;
}

.education-list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.education-list::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background: #1abc9c;
}

.education-item {
  display: flex;
  align-items: center;
  margin-bottom: 120px;
  list-style: none;
}

.education-item.inverse {
  align-self: flex-end;
}

.education-item:last-child {
  margin-bottom: 0;
}

.education-item__img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000000;
  border-radius: 50%;
  text-align: center;
  background-color: #1abc9c;
  border: 1px solid #1abc9c;
}

.education-item__year {
  font-size: 20px;
  font-weight: 600;
}

.education-item__panel {
  position: relative;
  width: 450px;
  text-align: right;
  margin-right: 30px;
  padding: 30px;
  background: #f5f5f5;
  border-radius: 10px;
  box-shadow: -5px 5px 0 rgba(0, 0, 0, 0.08);
  transition: all .3s ease-out;
}

.education-item__panel.inverse {
  margin-left: 30px;
  margin-right: 0;
  text-align: left;
}

.education-item__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 19px;
  font-weight: 600;
  color: #2c3e50;
}

.education-item__faculty {
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 700;
  color: #009688;
}

.hobby {
  padding-bottom: 80px;
  background-color: #eeeeee;
}

.hobby-item__hover-bg {
  position: relative;
  cursor: pointer;
}

.hobby-item__hover-bg:hover .hobby-item__img {
  transform: scale(1.2);
  transition: all 0.5s ease;
}

.hobby-item__hover-bg:hover .hobby-item__hover-text {
  transform: scale(1.2);
  transition: all 0.5s ease;
  opacity: 1;
  z-index: 1;
}

.hobby-item__img {
  display: block;
  transition: all 0.5s ease;
}

.hobby-item__img:hover {
  transform: scale(1.2);
  transition: all 0.5s ease;
}

.hobby-item__hover-text {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease;
}

.hobby-item__title {
  margin: 0;
  max-width: 200px;
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: 0.01em;
  color: #eeeeee;
  text-align: center;
}

.contacts {
  background: url("../img/contact-bg.jpg") center center;
  background-size: cover;
  background-color: #2c3e50;
  background-attachment: fixed;
  padding-bottom: 60px;
}

.contacts .section-title {
  color: #f4f5f6;
}

.contacts__title {
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
  color: #f4f5f6;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.contacts-form {
  text-align: center;
}

.form-control {
  display: block;
  width: 100%;
  padding: 15px 12px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #616e7c;
  line-height: 1.2;
  background-color: rgba(255, 255, 255, 0.8);
  background-image: none;
  border: 0;
  border-radius: 2px;
  box-shadow: none;
}

.form-control.control-error {
  outline: 3px solid #ce0000;
}

.form-control::placeholder {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.2;
  color: #616e7c;
}

.form-control:focus {
  outline: none;
  outline: 3px solid #1abc9c;
}

.contacts-item {
  margin-bottom: 30px;
}

.personal-data {
  text-align: left;
  margin-bottom: 30px;
}

.personal-data label {
  position: relative;
}

.personal-data__checkbox-square {
  width: 17px;
  height: 17px;
  display: inline-block;
  vertical-align: middle;
}

.personal-data input:checked + .personal-data__checkbox-square:before {
  content: "\f14a";
  position: absolute;
  left: 1px;
  top: 1px;
  font-family: FontAwesome;
  font-size: 1.125em;
  color: #f4f5f6;
}

.personal-data .personal-data__checkbox-square:before {
  content: "\f0c8";
  position: absolute;
  left: 1px;
  top: 1px;
  font-family: FontAwesome;
  font-size: 1.125em;
  color: #f4f5f6;
}

.personal-data__checkbox-text {
  vertical-align: middle;
  margin-left: 8px;
}

.personal-data__checkbox-text.error {
  color: #ce0000;
}

.personal-data input:focus + .personal-data__checkbox-square {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.btn-send {
  margin-top: 15px;
  color: #f4f5f6;
  border: 1px solid #f4f5f6;
}

.btn-send:hover {
  color: #009688;
  border: 1px solid #009688;
}

.footer {
  background-color: #2c3e50;
}

.footer-top {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-bottom {
  margin-bottom: 20px;
  text-align: center;
  color: #f4f5f6;
}

.footer-social {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 150px;
  text-align: center;
  list-style: none;
}

.footer-social__vk a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: 36px;
}

.footer-social__vk a:before {
  content: "\f189";
  position: absolute;
  left: 0;
  top: 0;
  width: 36px;
  height: 36px;
  font-family: FontAwesome;
  font-size: 30px;
  color: #f4f5f6;
}

.footer-social__vk a:hover:before {
  color: #1abc9c;
  transition: all 0.5s ease;
}

.footer-social__facebook a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: 36px;
}

.footer-social__facebook a:before {
  content: "\f09a";
  position: absolute;
  left: 0;
  top: 0;
  width: 36px;
  height: 36px;
  font-family: FontAwesome;
  font-size: 30px;
  color: #f4f5f6;
}

.footer-social__facebook a:hover:before {
  color: #1abc9c;
  transition: all 0.5s ease;
}

.footer-social__twitter a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: 36px;
}

.footer-social__twitter a:before {
  content: "\f099";
  position: absolute;
  left: 0;
  top: 0;
  width: 36px;
  height: 36px;
  font-family: FontAwesome;
  font-size: 30px;
  color: #f4f5f6;
}

.footer-social__twitter a:hover:before {
  color: #1abc9c;
  transition: all 0.3s ease;
}
